# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
server/.env
client/.env

# Production Builds
client/dist/

# IDE and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
.gemini/
